<!DOCTYPE html>
<html>
  <head>
  </head> 

  <body>
    <h1>We played <%=@player1%>!</h1>
    <h1>They played <%=@player2%>!</h1>
    <h1>We <%=@result%>!</h1>

    <a href="/">Rules</a>
  </body>
 </html> 
